@model List<testingSite.Models.TestCategory>
@if(Model!= null && Model.Any())
{
    @foreach (var category in Model)
    {
        <tr class="category-row">
            <td class="category-cell" data-category-id="@category.Id">Категория: @category.Name</td>
            <td> @category.Discipline.Name</td>
            <td class="actions">
                <button type="button" class="add-test-btn" data-category-id="@category.Id">Добавить тест</button>
                <button class="delete-btn" data-category-id="@category.Id">Удалить</button>
            </td>
        </tr>
        @if(category.Tests != null && category.Tests.Any())
        {
            foreach (var test in category.Tests)
            {
                <tr class="test-row">
                    <td colspan="2" class="test-cell" data-test-id="@test.Id">@test.Name</td>
                    <td class="actions">
                        <button class="delete-btn" data-test-id="@test.Id">Удалить</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="test-row">
                <td colspan="3"><em>Нет тестов в этой категории</em></td>
            </tr>
        }
    }
}
else
{
    <tr class="category-row">
        <td colspan="3"><em>Нет категорий</em></td>
    </tr>
}